<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed {% if email.is_sent %}text-success{% endif %}" type="button"
            data-bs-toggle="collapse" data-bs-target="#email-collapse{{email.id}}" aria-expanded="false"
            aria-controls="email-collapse{{email.id}}">
            <span>{{email.created_at | date(format="%Y-%m-%d %H:%M")}}</span>
            &nbsp;
            <span>
                Отправлено:&nbsp;{{email.num_sent}}
                Открыли:&nbsp;{{email.num_opened}}
                Ответили:&nbsp;{{email.num_replied}}
            </span>
            &nbsp;
            <strong>"{{email.subject}}"</strong>
        </button>
    </h2>
    <div id="email-collapse{{email.id}}" class="accordion-collapse collapse" data-bs-parent="#email-accordion">
        <div class="accordion-body">
            <div class="row border-bottom mb-1 pb-1">
                <div class="col-auto">
                    <form method="POST" action="/email/{{email.id}}/delete" class="d-inline">
                        <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Удалить?')">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </form>
                </div>
                <div class="col-auto">
                    <a href="?retry={{email.id}}" class="btn btn-warning btn-sm" onclick="return confirm('Повторить?')">
                        <i class="bi bi-copy"></i>
                    </a>
                </div>
                <div class="col-auto">
                    <form method="POST" action="/email/{{email.id}}/resend" class="d-inline">
                        <button class="btn btn-danger btn-sm" type="submit"
                            onclick="return confirm('Отправить неотправленные?')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </form>
                </div>
                <div class="col-auto">
                    <a href="/emails/{{email.id}}/recipients/export" class="btn btn-info btn-sm">
                        <i class="bi bi-download"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ email.message | safe }}
                </div>
                <div class="col">
                    <ol class="list-group list-group-numbered">
                        {% for recipient in recipients %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a class="
                                        {% if recipient.replied %}
                                            link-success
                                        {% elif recipient.opened %}
                                            link-warning
                                        {% elif not recipient.is_sent %}
                                            link-secondary
                                        {% endif %}" href="{{ crm_service_url }}?q={{ recipient.address }}">
                                        {{ recipient.address }}
                                    </a>
                                </div>
                                <div>{{recipient.reply | safe }}</div>
                            </div>
                            {% if recipient.is_sent or recipient.opened or recipient.replied %}
                            <span class="badge text-bg-primary rounded-pill">
                                {% if recipient.is_sent %}
                                <i class="bi bi-envelope-check-fill" title="Сообщение отправлено"></i>
                                {% endif %}
                                {% if recipient.opened %}
                                <i class="bi bi-envelope-open-fill" title="Сообщение просмотрено"></i>
                                {% endif %}
                                {% if recipient.replied %}
                                <i class="bi bi-reply-fill" title="Получен ответ на сообщение"></i>
                                {% endif %}
                            </span>
                            {%endif%}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>