{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"
        integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
{% endblock %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="container my-2">
        <form id="send-email-form" action="/send_email" method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <a class="recipientsDropDown" href="#">Получатели</a>
                <select id="recipients-input" multiple required>
                </select>
                <a id="recipientsNone" href="#" class="text-danger">убрать всех</a>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="subject" class="form-control my-1" placeholder="Тема">
                </div>
            </div>
            {% include 'markdown.html' %}
            <div class="row">
                <div class="col">
                    <input class="form-control" type="file" name="attachment">
                </div>
                <div class="col-auto text-end">
                    <button class="btn btn-primary text-white" id="submit-button">
                        Отправить
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="accordion" id="email-accordion">
            {% if emails %}
                {% for email_recipients in emails %}
                    {% set email = email_recipients.0 %}
                    {% set recipients = email_recipients.1 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed {% if email.is_sent %}text-success{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#email-collapse{{email.id}}" aria-expanded="false" aria-controls="email-collapse{{email.id}}">
                                #{{email.id}} от {{email.created_at | date(format="%Y-%m-%d %H:%M")}}&nbsp;<strong>{{email.subject}}</strong>
                            </button>
                        </h2>
                        <div id="email-collapse{{email.id}}" class="accordion-collapse collapse" data-bs-parent="#email-accordion">
                            <div class="accordion-body">
                                <div class="row border-bottom mb-1 pb-1">
                                    <div class="col-auto">
                                        <form method="POST" action="/delete_email" class="d-inline">
                                            <input type="hidden" value="{{email.id}}" name="id">
                                            <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Удалить?')">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <form method="POST" action="/retry_email" class="d-inline">
                                            <input type="hidden" value="{{email.id}}" name="id">
                                            <button class="btn btn-warning btn-sm" type="submit" onclick="return confirm('Добавить в очередь отправки?')">
                                                <i class="bi bi-arrow-clockwise"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ email.message | safe }}
                                    </div>
                                    <div class="col">
                                        <ul>
                                            {% for recipient in recipients %}
                                                <li class="{% if recipient.is_sent %}text-success{% endif %}">
                                                    {{ recipient.address }}
                                                    {% if recipient.opened %}
                                                        <i class="bi bi-envelope-check-fill" title="Сообщение просмотрено"></i>
                                                    {% else %}
                                                        <i class="bi bi-envelope-check" title="Сообщение не просмотрено"></i>
                                                    {% endif %}
                                                    {% if recipient.replied %}
                                                        <i class="bi bi-reply-fill" title="Получен ответ на сообщение"></i>
                                                    {% else %}
                                                        <i class="bi bi-reply" title="Ответ на сообщение не получен"></i>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"
        integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            let recipients = $("#recipients-input");
            recipients.selectize({
                valueField: "id",
                labelField: "text",
                searchField: ["text",
                    {% for field in custom_fields %}
                        "{{field}}",
                    {% endfor %}
                ],
                render: {
                    option: function(item, escape) {
                        let result = '<div class="border-bottom"><strong>' + escape(item.text) + '</strong>';
                        result += '<br><small>';
                        for (const field in item) {
                            if (["text", "id", "$order"].includes(field)) {
                                continue;
                            }
                            result += escape(field) + ': ' + escape(item[field]) + ' ';
                        }
                        result += '</small>';
                        result += '</div>';
                        return result
                    }
                },
                options: [
                    {% if recipients %}
                        {% for recipient_fields in recipients %}
                            {% set recipient = recipient_fields.0 %}
                            {% set fields = recipient_fields.1 %}
                            {
                                ...{
                                    "id": "{{recipient.email}}",
                                    "text": "{{recipient.name}} ({{recipient.email}})",
                                },
                                ...{{fields | json_encode() | safe}}
                            },
                        {% endfor %}
                    {% endif %}
                    {% if groups %}
                        {% for group in groups %}
                            {
                                "id": "{{group.id}}",
                                "text": "Группа: {{group.name}}",
                            },
                        {% endfor %}
                    {% endif %}
                ],
            });
            let recipientsSelectize = recipients[0].selectize;

            $(".recipientsDropDown").click(function(e) {
                recipientsSelectize.focus();
            });

            $("#recipientsNone").click(function() {
                recipientsSelectize.clear(false);
            });

            const form = document.getElementById('send-email-form');

            form.addEventListener("submit", function (e) {
                e.preventDefault();
                const formData = new FormData(form);
                formData.append('recipients', new Blob(
                    [JSON.stringify(recipientsSelectize.items)],
                    { type: 'application/json' }
                ));
                for (const [key, value] of formData) {
                    console.log(`${key}: ${value}`);
                }
                fetch(form.action, {
                    method: form.method,
                    body: formData,
                    credentials: 'include'
                })
                .then(response => {
                    return response.text();
                })
                .then(text => {
                    const render_message = document.getElementById('message-rendered');
                    form.reset();
                    recipientsSelectize.clear(false);
                    render_message.innerHTML = "";
                    showFlashMessage(text);
                    setTimeout(() => {window.location.reload()}, 2000);
                })
                .catch(error => {
                    console.error('Request error:', error);
                    alert('An error occurred while sending the form: ' + error.message);
                });
            });

        });
    </script>
{% endblock %}