{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"
        integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
{% endblock %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="container my-2">
        <form method="POST" action="/send_email">
            <div class="row mb-3 ps-3">
                <a class="recipientsDropDown" href="#">Получатели</a>
                <select class="form-control" id="recipients" multiple name="recipients" required>

                    {% if recipients %}
                        {% for recipient in recipients %}
                            <option value="{{recipient.email}}">{{recipient.name}} ({{recipient.email}})</option>
                        {% endfor %}
                    {% endif %}

                    {% if groups %}
                        {% for group in groups %}
                            <option value="{{group.id}}">Группа: {{group.name}}</option>
                        {% endfor %}
                    {% endif %}

                </select>
                <a id="recipientsNone" href="#" class="text-danger">убрать всех</a>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="subject" class="form-control my-1" placeholder="Тема">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea class="form-control" rows=10 id="message-input" required placeholder="Содержание"></textarea>
                    <input type="hidden" id="message" name="message" required>
                </div>
                <div class="col border rounded" id="message-rendered">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <small class="text-muted">Сообщение в формате <a href="https://www.markdownguide.org/basic-syntax/">markdown</a></small>
                </div>
                <div class="col">
                    <small class="text-muted">Превью сообщения</small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary text-white">
                        Отправить
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="accordion" id="email-accordion">
            {% if emails %}
                {% for email_recipients in emails %}
                    {% set email = email_recipients.0 %}
                    {% set recipients = email_recipients.1 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed {% if email.is_sent %}text-success{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#email-collapse{{email.id}}" aria-expanded="false" aria-controls="email-collapse{{email.id}}">
                                #{{email.id}} от {{email.created_at}}
                            </button>
                        </h2>
                        <div id="email-collapse{{email.id}}" class="accordion-collapse collapse" data-bs-parent="#email-accordion">
                            <div class="accordion-body">
                                <div class="row border-bottom mb-1 pb-1">
                                    <div class="col-auto">
                                        <form method="POST" action="/delete_email" class="d-inline">
                                            <input type="hidden" value="{{email.id}}" name="id">
                                            <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Удалить?')">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <form method="POST" action="/retry_email" class="d-inline">
                                            <input type="hidden" value="{{email.id}}" name="id">
                                            <button class="btn btn-warning btn-sm" type="submit" onclick="return confirm('Добавить в очередь отправки?')">
                                                <i class="bi bi-arrow-clockwise"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col">
                                        <strong>{{email.subject}}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ email.message | safe }}
                                    </div>
                                    <div class="col">
                                        <ul>
                                            {% for recipient in recipients %}
                                                <li class="{% if recipient.opened %}text-success{% endif %}">
                                                    {{ recipient.address }}
                                                    {% if recipient.is_sent %}
                                                        <i class="bi bi-envelope-check-fill"></i>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"
        integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        $(document).ready(function () {

            let recipients = $("#recipients");
            recipients.selectize({});
            let recipientsSelectize = recipients[0].selectize;

            $(".recipientsDropDown").click(function(e) {
                recipientsSelectize.focus();
            });

            $("#recipientsNone").click(function() {
                recipientsSelectize.clear(false);
            });

            const edit_message = document.getElementById('message-input');
            const message_send = document.getElementById('message');
            const render_message = document.getElementById('message-rendered');
            render_message.innerHTML = marked.parse(edit_message.value);

            edit_message.addEventListener("input", function () {
                const rendered_message = marked.parse(edit_message.value);
                render_message.innerHTML = rendered_message;
                message_send.value = rendered_message;
            });

        });
    </script>
{% endblock %}