{% extends 'base.html' %}

{% block content %}
{% include 'navigation.html' %}

<div class="container my-2">
    <form method="POST" action="/settings/save" class="my-2">
        <div class="row mb-3">
            <input type="hidden" name="id" value="{{current_hub.id}}">
            <input type="hidden" name="created_at" value="{{current_hub.created_at}}">
            <label for="editHubLogin" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="editHubLogin" name="login" value="{{current_hub.login}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="editHubPassword" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="editHubPassword" name="password" value="{{current_hub.password}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="editHubSender" class="col-sm-2 col-form-label">Отправитель</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="editHubSender" name="sender" value="{{current_hub.sender}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="editHubSmtpServer" class="col-sm-2 col-form-label">SMTP сервер</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="editHubSmtpServer" name="smtp_server" value="{{current_hub.smtp_server}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="editHubSmtpPort" class="col-sm-2 col-form-label">SMTP порт</label>
            <div class="col-sm-10">
                <input type="number" min="0" max="65535" step="1" class="form-control" id="editHubSmtpPort" name="smtp_port" value="{{current_hub.smtp_port | default(value=0)}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="editHubImapServer" class="col-sm-2 col-form-label">IMAP сервер</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="editHubImapServer" name="imap_server" value="{{current_hub.imap_server}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="editHubImapPort" class="col-sm-2 col-form-label">IMAP порт</label>
            <div class="col-sm-10">
                <input type="number" min="0" max="65535" step="1" class="form-control" id="editHubImapPort" name="imap_port" value="{{current_hub.imap_port | default(value=0)}}">
            </div>
        </div>
        <h6>Шаблон сообщения (доступны переменные {message} {unsubscribe_url}):</h6>
        {% set message = current_hub.email_template %}
        {%include 'markdown.html' %}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
