{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"
        integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
{% endblock %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="container my-2">
        <div class="row">
            <div class="col-lg-6">
                <h5>Группы</h5>
                <form method="POST" action="/groups/add">
                    <div class="row">
                        <div class="col-lg">
                            <input class="form-control my-1" type="text" name="name" placeholder="Название" required>
                        </div>
                        <div class="col-lg-3 text-end">
                            <button class="btn btn-primary my-1" type="submit">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h5>Назначить группу</h5>
                <form method="POST" action="/groups/assign" id="recipients-assign-form">
                    <div class="row mb-3">
                        <div class="col-lg">
                            <select class="form-control my-1" name="group_id" required id="recipients-assign-form-group-id">
                                <option disabled selected value="">Выбор группы</option>
                                    {% for group in groups %}
                                        <option value="{{group.id}}">{{group.name}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg">
                            <select class="form-control my-1" name="recipient_id" required id="recipients-assign-form-recipient-id">
                                <option disabled selected value="">Выбор получателя</option>
                            </select>
                        </div>
                        <div class="col-lg-3 text-end">
                            <button class="btn btn-primary my-1" type="submit">Назначить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if groups %}
        <div class="container mb-1">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Фильтр" id="filter">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-group" id="items">
                        {% for group in groups %}
                            <li class="list-group-item selectable" data-bs-toggle="modal" data-bs-target="#groupModal" hx-post="/groups/modal/{{group.id}}" hx-swap="innerHTML" hx-target="#groupModalBody">
                                <strong>{{ group.name }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="groupModalLabel">Редактировать группу</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="groupModalBody">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"
        integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            let recipient_select = $("#recipients-assign-form-recipient-id");
            recipient_select.selectize({
                valueField: "id",
                labelField: "name",
                searchField: ["name", "email",
                    {% for field in custom_fields %}
                        "{{field}}",
                    {% endfor %}
                ],
                render: {
                    option: function(item, escape) {
                        let result = `<div class="border-bottom"><strong>${escape(item.name)} (${escape(item.email)})</strong>`;
                        result += '<br><small>';
                        for (const field in item) {
                            if (["id", "name", "email", "$order"].includes(field)) {
                                continue;
                            }
                            result += escape(field) + ': ' + escape(item[field]) + ' ';
                        }
                        result += '</small>';
                        result += '</div>';
                        return result
                    }
                },
                options: [


                    {% for recipient in recipients %}
                        {% set fields = recipient.fields %}
                        {
                            ...{
                                "id": "{{recipient.id}}",
                                "name": "{{recipient.name}}",
                                "email": "{{recipient.email}}",
                            },
                            ...{{fields | json_encode() | safe}}
                        },
                    {% endfor %}

                ]
            });
            let group_select = $("#recipients-assign-form-group-id");
            group_select.selectize({});

            createFilter("filter", "items", ".selectable");


        });
    </script>
{% endblock %}
