{% extends 'base.html' %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="container my-2">
        <div class="row">
            <div class="col">
                <form method="POST" action="/groups/add">
                    <div class="row">
                        <div class="col">
                            <input class="form-control my-1" type="text" name="name" placeholder="Название" required>
                        </div>
                        <div class="col-auto text-end">
                            <button class="btn btn-primary my-1" type="submit">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if groups %}
        <div class="container mb-1">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Фильтр" id="filter">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-group" id="items">
                        {% for group in groups %}
                            <li class="list-group-item selectable" data-bs-toggle="modal" data-bs-target="#groupModal" hx-post="/groups/modal/{{group.id}}" hx-swap="innerHTML" hx-target="#groupModalBody">
                                <strong>{{ group.name }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="groupModalLabel">Редактировать группу</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="groupModalBody">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            let groupModalBody = document.getElementById("groupModalBody");
            let tomSelectInstance = null;

            groupModalBody.addEventListener("htmx:beforeSwap", function () {
                if (tomSelectInstance) {
                    tomSelectInstance.destroy();
                    tomSelectInstance = null;
                }
            });
            groupModalBody.addEventListener("htmx:afterSettle", function () {
                var settings = {
                    plugins: {
                        'checkbox_options': {}
                    },
                    valueField: "id",
                    labelField: "name",
                    searchField: ["name", "email",
                        {% for field in custom_fields %}
                            "{{field}}",
                        {% endfor %}
                    ],
                    options: [
                        {% for recipient in recipients %}
                            {% set fields = recipient.fields %}
                            {
                                ...{
                                    "id": "{{recipient.id}}",
                                    "name": "{{recipient.name}}",
                                    "email": "{{recipient.email}}",
                                },
                                ...{{fields | json_encode() | safe}}
                            },
                        {% endfor %}
                    ],
                    render: {
                        option: function(item, escape) {
                            let result = `<div class="border-bottom"><strong>${escape(item.name)} (${escape(item.email)})</strong>`;
                            result += '<br><small>';
                            for (const field in item) {
                                if (["id", "name", "email", "$order"].includes(field)) {
                                    continue;
                                }
                                result += escape(field) + ': ' + escape(item[field]) + ' ';
                            }
                            result += '</small>';
                            result += '</div>';
                            return result
                        }
                    },
                };
                tomSelectInstance = new TomSelect('#recipients-assign-form-recipient-id',settings);
            });

            createFilter("filter", "items", ".selectable");

        });
    </script>
{% endblock %}
