<div class="modal-body">
    <h5>{{group.group.name}} ({{group.recipients | length}} получателей)</h5>
    <form method="POST" action="/group/{{group.group.id}}/assign" id="recipients-assign-form">
        <div class="row mb-3">
            <div class="col-lg">
                <select class="form-select my-1" name="recipient_id" id="recipients-assign-form-recipient-id" multiple>
                    {% for recipient in group.recipients %}
                    <option selected value="{{recipient.id}}">{{recipient.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto text-end">
                <button class="btn btn-primary my-1" type="submit">Назначить</button>
            </div>
        </div>
    </form>
</div>

<form action="/group/{{group.group.id}}/delete" method="POST">
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit" onclick="return confirm('Удалить?')">Удалить</button>
    </div>
</form>