<div class="modal-body">

    <form method="POST" action="/groups/assign" id="recipients-assign-form">
        <div class="row mb-3">
            <div class="col-lg">
                <input type="hidden" name="group_id" value="{{group.group.id}}">
                <select class="form-select my-1" name="recipient_id" id="recipients-assign-form-recipient-id" multiple>
                    {% for recipient in group.recipients %}
                        <option selected value="{{recipient.id}}">{{recipient.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto text-end">
                <button class="btn btn-primary my-1" type="submit">Назначить</button>
            </div>
        </div>
    </form>
</div>

<form action="/groups/delete" method="POST">
    <input type="hidden" value="{{group.group.id}}" name="id" required>
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit" onclick="return confirm('Удалить?')">Удалить</button>
    </div>
</form>
