{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-muted fw-bold">
                    Регистрация
                </div>
                <div class="card-body">
                    <form method="POST" action="/auth/register">
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="email">Электронная почта</label>
                            <div class="col-md-6">
                                <input autofocus="" class="form-control" id="email" name="email" required="" type="email" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="password">Пароль</label>
                            <div class="col-md-6">
                                <input class="form-control" id="password" name="password" required="" type="password" value="" onkeyup='check_password();'>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="password">Повторите пароль</label>
                            <div class="col-md-6">
                                <input class="form-control" id="password2" required="" type="password" value="" onkeyup='check_password();'>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="secret">Секретный ключ</label>
                            <div class="col-md-6">
                                <input class="form-control" id="secret" required="" type="password" value="" name="secret">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 offset-md-4">
                                <input class="btn btn-primary text-white" id="submit" name="submit" type="submit" value="Регистрация">
                                <a href="/auth/signin" class="btn btn-link">Авторизация</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    var check_password = function() {
        if (document.getElementById('password').value ==
            document.getElementById('password2').value) {
            document.getElementById('submit').classList.remove("btn-danger");
            document.getElementById('submit').classList.add("btn-primary");
            document.getElementById('submit').disabled  = false;
        } else {
            document.getElementById('submit').classList.remove("btn-primary");
            document.getElementById('submit').classList.add("btn-danger");
            document.getElementById('submit').disabled  = true;
        }
    }
</script>
{% endblock %}